@page "{slug}"
@model PersonalBlog.Pages.Posts.DetailModel
<!--show post-->
<article>
    <h1>@Model.Post.Title</h1>
    <time>@Model.Post.CreatedAt.ToString("yyyy-MM-dd")</time>

    <div id="post-content">
        @Html.Raw(Model.Post.Content)
    </div>
</article>

<!--Show the comment-->
<section id="comment-section">
    <h2>Comment</h2>
    <div id="comment-list">
        <p>Comments are Onloading!</p>
    </div>

    <!--Input the comment-->
    <input type="text" id="comment-author" placeholder="Your name"/>
    <textarea id="comment-content" placeholder="Input your comments!"></textarea>
    <!--JavaScript-->
    <button onclick="submitComment('@Model.Post.Slug')">SubmitComment</button>
</section>

<!--Automatically load this script when the page loads-->
@section Scripts{
    <script src="~/js/comments.js"></script>
    <script>
        loadComments('@Model.Post.Slug')
    </script>
}